# Environment variables (Secrets)
.env

# Virtual Environment
venv/
env/
ENV/

# Python Cache
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
